.lfr-layout-structure-item-container {
    padding: 0;
}

.lfr-layout-structure-item-row {
    overflow: hidden;
}

.portlet-borderless .portlet-content {
    padding: 0;
}

.lfr-layout-structure-item-ca345606-0353-a766-9d8a-c5052c7695d6 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--lfr-background-image-ca345606-0353-a766-9d8a-c5052c7695d6) !important;
    border-style: solid;
    border-width: 0 !important;
    border-width: 0px !important;
}

.lfr-layout-structure-item-37d4f4a3-860d-3d2a-2fa0-d9d36335a288 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--lfr-background-image-37d4f4a3-860d-3d2a-2fa0-d9d36335a288) !important;
    border-style: solid;
    border-width: 0 !important;
    border-width: 0px !important;
}

.lfr-layout-structure-item-8b6f7ca1-528c-4177-b4c7-92c5e4d7f78e {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--lfr-background-image-8b6f7ca1-528c-4177-b4c7-92c5e4d7f78e) !important;
    border-style: solid;
    border-width: 0 !important;
    border-width: 0px !important;
}

.lfr-layout-structure-item-4bdd0536-eae6-861f-2267-15cee31a1c9b {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--lfr-background-image-4bdd0536-eae6-861f-2267-15cee31a1c9b) !important;
    border-style: solid;
    border-width: 0 !important;
    border-width: 0px !important;
}

.lfr-layout-structure-item-d64fd1ed-fe74-dce4-31fc-728f06fda550 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--lfr-background-image-d64fd1ed-fe74-dce4-31fc-728f06fda550) !important;
    border-style: solid;
    border-width: 0 !important;
    border-width: 0px !important;
    padding-left: var(--spacer-3, 1rem) !important;
    padding-right: var(--spacer-3, 1rem) !important;
}

.lfr-layout-structure-item-109873b4-16da-c93b-571d-fa2b4b6687db {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--lfr-background-image-109873b4-16da-c93b-571d-fa2b4b6687db) !important;
    border-style: solid;
    border-width: 0 !important;
    border-width: 0px !important;
}

.lfr-layout-structure-item-62cbc516-834f-b6ae-46a0-37f9e5812874 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--lfr-background-image-62cbc516-834f-b6ae-46a0-37f9e5812874) !important;
    border-style: solid;
    border-width: 0 !important;
    border-width: 0px !important;
}

.lfr-layout-structure-item-9602c509-3f4a-dd49-2e21-21c7bdf9c740 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--lfr-background-image-9602c509-3f4a-dd49-2e21-21c7bdf9c740) !important;
    border-style: solid;
    border-width: 0 !important;
    border-width: 0px !important;
}

.lfr-layout-structure-item-218a7ef2-43c8-7043-06be-8ea4f90d5f28 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--lfr-background-image-218a7ef2-43c8-7043-06be-8ea4f90d5f28) !important;
    border-style: solid;
    border-width: 0 !important;
    border-width: 0px !important;
}

@media screen and (max-width: 575px) {
    .lfr-layout-structure-item-4bdd0536-eae6-861f-2267-15cee31a1c9b {
        padding-left: var(--spacer-3, 1rem) !important;
        padding-right: var(--spacer-0, 0rem) !important;
    }
    .lfr-layout-structure-item-d64fd1ed-fe74-dce4-31fc-728f06fda550 {
        padding-left: var(--spacer-0, 0rem) !important;
    }
}